<div id="city-view" class="view justify-start items-start p-2 sm:p-6" style="overflow-y: auto;">
    <div id="city-view-content" class="w-full flex flex-col items-center">
        <h1 class="city-header text-3xl font-bold text-center mb-4">RUSTY SPRINGS</h1>
        <p class="pip-text text-lg">Ein rostiges Handelszentrum. Du riechst Schießpulver und gebratenes Geckofleisch.</p>
        
        <div class="city-options grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4 w-full max-h-[70vh] overflow-y-auto p-2" id="city-options">
            </div>
    </div>
    <style>
        .city-header {
            color: #fff; text-shadow: 0 0 10px var(--pip-green);
        }
    </style>
</div>
